<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.mapper.PublicSeaCustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.crm.entity.PublicSeaCustomer">
        <id column="public_customer_id" property="publicCustomerId" />
        <result column="customer_name" property="customerName" />
        <result column="mobile" property="mobile" />
        <result column="level" property="level" />
        <result column="industry" property="industry" />
        <result column="source" property="source" />
        <result column="enter_public_time" property="enterPublicTime" />
        <result column="recycle_reason" property="recycleReason" />
        <result column="owner_user_id" property="ownerUserId" />
        <result column="claim_time" property="claimTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

</mapper>
